#team-details{
    height: 700px;
    width: 100%;
    display: flex;
    background: white;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#team-details-text{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#team-details-text p {
    width: 70%;
    text-align: justify;
}

#team-details-images{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.imagem-piloto{
    height: 400px;
}

.piloto {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
}

.piloto div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.pilotoNome {
    color: #fff;
    text-transform: uppercase;
}

.pilotoSobrenome{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

/* #team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30%;
    width: 100%;
    height: 100%;
    transform: translateX(-30%);
} */

#team-stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* min-height: 100vh;
    height: auto; */
    width: 100%;
    color: #fff;
    padding: 5%;
}

#team-stats h3{
    font-family: "Orbitron", sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

#team-stats p{
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 20px 0 20px 0;
}

.team-stats__stats{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    gap: 20px;
}

.team-stats__stats__item{
    background-color: rgb(0, 0, 0, 50%);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
}

.team-stats__stats__item h3{
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif !important;
}

.team-stats__stats__item span{
    font-size: 1.25rem;
}

.team-stats__details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#containerImg{
    width: 55%;
    height: 70%;
    border-radius: 20px;
}

.team-stats__details__ranking{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    background-color: rgb(0, 0, 0, 50%);
    width: 500px;
    min-height: 384px;
    padding: 20px;
    border-radius: 15px;
}
.team-stats__details__ranking h1{
    font-weight: normal;
    font-size: 1rem;
}

.icon__pilot{
    background: #fff;
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 5px;
}
.ranking__pilot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ranking__pilot span{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: baseline;
    gap: 6px;
}

.ranking__pilot span p{
    width: 30%;
}
.ranking__bar{
    background-color: red;
    height: 15px;
    border-radius: 50px;
}


.desempenho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 90%;
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    margin: 120px auto;
    position: relative;
}


.desempenho ul {
    display: flex;
    list-style: none;
    gap: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.desempenho-piloto {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}


.desempenho-piloto ul li {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
}


.desempenho-piloto ul>li span {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #E43131;
}

.desempenho-piloto li img {
    width: 70px;
    height: 50px;
}

.desempenho-piloto img{
    width: 380px;
    height: 390px;
}

.piloto-imagem {
    display: flex;
    width: 400px;
}


.imagem1 p{
    margin-top: 60px;
    text-transform: uppercase;
    margin-left: -100px;
    }
    
.imagem2 p{
    margin-top: 60px;
    text-transform: uppercase;
    margin-right: -80px;
}


.piloto-imagem strong {
    color: #E43131;
}


.desempenho::before,
.desempenho::after {
    content: '';
    position: absolute;
    background-color: #E43131;
}

.desempenho::before {
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
}

.desempenho::after {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
}

.ABT.desempenho::before,
.ABT.desempenho::after {
    background-color: #04619F;
}

.Andretti.desempenho::before,
.Andretti.desempenho::after {
    background-color: #B82E1F;
}

.Jaguar.desempenho::before,
.Jaguar.desempenho::after {
    background-color: #2C3E50;
}

.Envision.desempenho::before,
.Envision.desempenho::after {
    background-color: #166D3B;
}

.Mahindra.desempenho::before,
.Mahindra.desempenho::after {
    background-color: #B82E1F;
}

.Nissan.desempenho::before,
.Nissan.desempenho::after {
    background-color: #B82E1F;
}

.Porsche.desempenho::before,
.Porsche.desempenho::after {
    background-color: #B82E1F;
}

.McLaren.desempenho::before,
.McLaren.desempenho::after {
    background-color: #EC9F05;
}

.Maserati.desempenho::before,
.Maserati.desempenho::after {
    background-color: #04619F;
}

.DS.desempenho::before,
.DS.desempenho::after {
    background-color: #CC9934;
}

.ERT.desempenho::before,
.ERT.desempenho::after {
    background-color: #2C3E50;
}

footer {
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
}

.logo img {
    width: 200px;
}

.logo {
    width: 400px;
}

footer span {
    display: flex;
    gap: 12px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 300ms;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

footer svg {
    width: 30px;
}

footer a:hover {
    scale: 1.05;
}
.devs-li {
    justify-content: space-between;
    width: 250px;
}


@media (max-width: 1024px) {
    #team-details {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    #team-details-text {
        width: 100%;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    #team-details-images {
        width: 100%;
        overflow: hidden;
        gap: 80px;
        padding-top: 20px;
        height: auto;
        justify-content: end;
    }

    #team-stats h3{
        font-size: 3rem;
    }

    .team-stats__details {
        display: flex;
        flex-direction: column;
    }

    .imagem-piloto {
        width: 100%;
        height: 330px;
    }

    .piloto {
        display: flex;
        width: 260px;
        gap: 20px;
    }

    .pilotoSobrenome {
        font-size: 28px;
    }

    .team-stats__stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }

    .team-stats__details__ranking {
        width: 90%;
    }

    .ranking__pilot span {
        justify-content: space-between;
        gap: 10px;
    }

    .ranking__pilot span p {
        width: auto;
    }

    .desempenho {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 80px auto;
        gap: 60px;
    }

    .pilotoNomeDetalhes, .pilotoSobrenomeDetalhes {
        display: none;
    }

    .desempenho h1 {
        font-size: 2rem;
    }

    .desempenho-img {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .desempenho-piloto ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }

    .piloto-imagem img {
        width: 100%;
        height: auto;
    }

    .imagem1 p,
    .imagem2 p {
        margin: 20px 0;
    }

    #containerImg {
        margin-left: 25px;
        margin-top: 20px;
        width: 90%;
    }

    #element.style {
        margin-top: 20px;
    }
    
}


@media (max-width: 768px) {
    #team-details-images{
        display: flex;
        flex-direction: column;
    }

    .desempenho h1 {
        text-align: center;
    }

    .desempenho-img {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .desempenho-piloto {
        display: grid;
        gap: 30px;
        height: auto;
        margin-bottom: 20px;
    }

    .team-stats__stats {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        place-items: center;
    }

    #containerImg {
        margin-left: 0px;
        margin-top: 20px;
        width: 90%;
    }
}



@media (max-width: 652px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 38px;
        width: 100%;
        height: 100%;
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

}