header{
    background-color: #252525;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#logo-header-team {
    height: 50px;
    position: absolute;
    top: 10px;
    left: 50px;
    width: 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    transition: all 300ms;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav ul li:hover {
 scale: 1.1;
}

header a img{
    width: 180px;
    height: 50px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons-header{
    position: absolute;
    right: 50px;
}

.buttons a {
    text-decoration: none;
    color: #fff;
}

#entrar {
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    display: none;
}

#cadastrar-se {
    background: transparent;
    border: none;
    color: #fff;
    display: none;
}

#jogar{
    display: none;
}

@media (min-width: 768px) {    
    .menu-responsivo {
        display: none;
    }

    #entrar {
        display: block;
    }
    
    #cadastrar-se {
        display: block;
    }

    
    #jogar{
        display: flex;
    }
}