footer {
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
}

.logo img {
    width: 200px;
}

.logo {
    width: 400px;
}

footer span {
    display: flex;
    gap: 12px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 300ms;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

footer svg {
    width: 30px;
}

footer a:hover {
    scale: 1.05;
}
.devs-li {
    justify-content: space-between;
    width: 250px;
}