body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

h1 {
    color: #f0f0f0;
    font-size: 3rem;
}

#teams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.team-card{
    width: 230px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
    background-color: #f0f0f0;
    padding: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.team-card h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.team-card img {
    width: 90%;
}

.team-card:hover{
    scale: 1.05;
}