#team-details{
    height: 700px;
    width: 100%;
    display: flex;
    background: white;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#team-details-text{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#team-details-text p {
    width: 70%;
    text-align: justify;
}

#team-details-images{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.imagem-piloto{
    height: 450px;
}

.piloto {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
}

.piloto div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.pilotoNome {
    color: #fff;
    text-transform: uppercase;
}

.pilotoSobrenome{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

/* #team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30%;
    width: 100%;
    height: 100%;
    transform: translateX(-30%);
} */

#team-stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* min-height: 100vh;
    height: auto; */
    background: linear-gradient(0deg, #fff 0 25%, #04619F 25%, #000000 150%);
    width: 100%;
    color: #fff;
    padding: 50px;
}

#team-stats h3{
    font-family: "Orbitron", sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

#team-stats p{
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 20px 0 20px 0;
}

.team-stats__stats{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    gap: 20px;
}

.team-stats__stats__item{
    background-color: rgb(0, 0, 0, 50%);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
}

.team-stats__stats__item h3{
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif !important;
}

.team-stats__stats__item span{
    font-size: 1.25rem;
}

.team-stats__details{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    background-color: rgb(0, 0, 0, 50%);
    width: 500px;
    min-height: 384px;
    padding: 20px;
    border-radius: 15px;
}
.team-stats__details__ranking h1{
    font-weight: normal;
    font-size: 1rem;
}

.icon__pilot{
    background: #fff;
    height: 32px;
    width: 32px;
    border-radius: 5px;
}
.ranking__pilot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ranking__pilot span{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: baseline;
    gap: 6px;
}

.ranking__pilot span p{
    width: 30%;
}
.ranking__bar{
    background-color: red;
    height: 15px;
    border-radius: 50px;
}


.desempenho {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: 1267px;
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    margin-left: 170px;
    margin-top: 180px;
    /* border: 1px solid #E43131 50%, 1px solid #E43131; */
    padding: 16px;
}


.desempenho ul {
    display: flex;
    list-style: none;
    gap: 60px;
    margin-right: 270px;
    margin-top: 140px;
    font-family: 'Inter', sans-serif;
}


.desempenho-piloto {
    display: flex;
    justify-content: space-between;
}


.desempenho-piloto ul li {
    display: flex;
    gap: 20px;
}


.desempenho-piloto ul>li span {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #E43131;
}


.desempenho-piloto li {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.desempenho-piloto li img {
    width: 70px;
    height: 50px;
}



.desempenho-piloto img{
    width: 380px;
    height: 390px;
}
 

.piloto-imagem {
    display: flex;
}

.piloto-imagem p {
    margin-top: 60px;
    margin-left: -110px;
}


.piloto-imagem strong {
    color: #E43131;
}



.bloco2 {
    display: flex;
    flex-direction: row-reverse;
}


.imagem2 {
    margin-right: 300px;
}
